@import "variables";
@import "mixins/mixins";

@include b(alert) {
  padding: 10px 16px;
  position: relative;
  display: block;
  background-color: $--color-primary-lighter;
  color: $--color-primary;
  border-radius: 4px;
  font-weight: 400;
  transition: all .3s;
  box-shadow: 0 2px 5px 0 #eee;

  @include e(title) {
    font-size: 14px;
    height: 16px;
    line-height: 16px;

    @include m(center) {
      text-align: center;
    }
  }

  @include e(sub) {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 300;
  }

  @include e(title-icon) {
    display: inline-block;
    font-size: 16px;
    margin-right: 6px;
  }

  @include e(close) {
    position: absolute;
    display: block;
    height: 14px;
    top: 10px;
    right: 16px;
    cursor: pointer;

    @include m(icon) {
      width: 14px;
    }
  }

  @include m(success) {
    background-color: $--color-success-lighter;
    color: $--color-success;
  }

  @include m(info) {
    background-color: $--color-info-lighter;
    color: $--color-info;
  }

  @include m(warning) {
    background-color: $--color-warning-lighter;
    color: $--color-warning;
  }

  @include m(danger) {
    background-color: $--color-danger-lighter;
    color: $--color-danger;
  }
}
