//  Dropmenu
.fade-enter-active, .fade-leave-active {
  transform-origin: top;
  transform: rotateX(0);
  opacity: 1;
}
.fade-enter, .fade-leave-to {
  transform-origin: top;
  transform: rotateX(90deg);
  margin-top: 0;
  opacity: 0;
}

//  Input Error Message
.fly-enter-active, .fly-leave-active {
  margin-left: 0;
  opacity: 1;
}

.fly-enter, .fly-leave-to {
  margin-left: 20px;
  opacity: 0;
}

//  Input Error Message
.expand-enter-active, .expand-leave-active {
  opacity: 1;
}

.expand-enter, .expand-leave-to {
  opacity: 0;
}


.t-zoom-in-center-enter-active,
.t-zoom-in-center-leave-active {
  transition: all .3s ease-out;
}
.t-zoom-in-center-enter,
.t-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.t-fly-in-center-enter-active,
.t-fly-in-center-leave-active {
  transition: all .3s ease-out;
}
.t-fly-in-center-enter,
.t-fly-in-center-leave-active {
  opacity: 0;
  padding-left: 70px;
}


.t-fade-out-enter-active,
.t-fade-out-leave-active {
  opacity: 1;
}

.t-fade-out-enter,
.t-fade-out-leave-active {
  opacity: 0;
}

/*
 * ---------------------------------------------- Modal Animations ---------------------------------------------
 */
$--animation-offset-base: 30px;
$--animation-offset-big: 300px;

/*
 * 1. top-to-center
 */
@keyframes t-top-to-center-in {
  0% {
    margin-top: -$--animation-offset-base;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes t-top-to-center-out {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -$--animation-offset-base;
  }
}

/*
 * 2. bottom-to-center
 */
@keyframes t-bottom-to-center-in {
  0% {
    margin-top: $--animation-offset-base;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes t-bottom-to-center-out {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: $--animation-offset-base;
  }
}


/*
 * 3. left-to-center
 */
@keyframes t-left-to-center-in {
  0% {
    margin-left: -$--animation-offset-base;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes t-left-to-center-out {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -$--animation-offset-base;
  }
}

/*
 * 4. right-to-center
 */
@keyframes t-right-to-center-in {
  0% {
    margin-left: $--animation-offset-base;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes t-right-to-center-out {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: $--animation-offset-base;
  }
}

/*
 * 5. top-to-center-big
 */
@keyframes t-top-to-center-big-in {
  0% {
    margin-top: -$--animation-offset-big;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes t-top-to-center-big-out {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -$--animation-offset-big;
  }
}

/*
 * 6. bottom-to-center-big
 */
@keyframes t-bottom-to-center-big-in {
  0% {
    margin-top: $--animation-offset-big;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes t-bottom-to-center-big-out {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: $--animation-offset-big;
  }
}


/*
 * 7. left-to-center-big
 */
@keyframes t-left-to-center-big-in {
  0% {
    margin-left: -$--animation-offset-big;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes t-left-to-center-big-out {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -$--animation-offset-big;
  }
}

/*
 * 8. right-to-center-big
 */
@keyframes t-right-to-center-big-in {
  0% {
    margin-left: $--animation-offset-big;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes t-right-to-center-big-out {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: $--animation-offset-big;
  }
}

/*
 * 9. top-to-center-bounce
 */
@keyframes t-top-to-center-bounce-in {
  0% {
    margin-top: -10 * $--animation-offset-big;
  }
  70% {
    margin-top: 0;
  }
  80% {
    margin-top: -$--animation-offset-big / 10;
  }
  90% {
    margin-top: 0;
  }
  95% {
    margin-top: -$--animation-offset-big / 100;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes t-top-to-center-bounce-out {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -$--animation-offset-base;
  }
}

/*
 * 10. bottom-to-center-bounce
 */
@keyframes t-bottom-to-center-bounce-in {
  0% {
    margin-top: 10 * $--animation-offset-big;
  }
  70% {
    margin-top: 0;
  }
  80% {
    margin-top: $--animation-offset-big / 10;
  }
  90% {
    margin-top: 0;
  }
  95% {
    margin-top: $--animation-offset-big / 100;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes t-bottom-to-center-bounce-out {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: $--animation-offset-base;
  }
}

/*
 * 11. left-to-center-bounce
 */
@keyframes t-left-to-center-bounce-in {
  0% {
    margin-left: -10 * $--animation-offset-big;
  }
  70% {
    margin-left: 0;
  }
  80% {
    margin-left: -$--animation-offset-big / 10;
  }
  90% {
    margin-left: 0;
  }
  95% {
    margin-left: -$--animation-offset-big / 100;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes t-left-to-center-bounce-out {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -$--animation-offset-base;
  }
}

/*
 * 12. right-to-center-bounce
 */
@keyframes t-right-to-center-bounce-in {
  0% {
    margin-left: 10 * $--animation-offset-big;
  }
  70% {
    margin-left: 0;
  }
  80% {
    margin-left: $--animation-offset-big / 10;
  }
  90% {
    margin-left: 0;
  }
  95% {
    margin-left: $--animation-offset-big / 100;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes t-right-to-center-bounce-out {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: $--animation-offset-base;
  }
}
