//  Dropmenu
.fade-enter-active, .fade-leave-active {
  transform-origin: top;
  transform: rotateX(0);
  opacity: 1;
}
.fade-enter, .fade-leave-to {
  transform-origin: top;
  transform: rotateX(90deg);
  margin-top: 0;
  opacity: 0;
}

//  Input Error Message
.fly-enter-active, .fly-leave-active {
  margin-left: 0;
  opacity: 1;
}

.fly-enter, .fly-leave-to {
  margin-left: 20px;
  opacity: 0;
}

//  Input Error Message
.expand-enter-active, .expand-leave-active {
  opacity: 1;
}

.expand-enter, .expand-leave-to {
  opacity: 0;
}


.t-zoom-in-center-enter-active,
.t-zoom-in-center-leave-active {
  transition: all .3s ease-out;
}
.t-zoom-in-center-enter,
.t-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.t-fly-in-center-enter-active,
.t-fly-in-center-leave-active {
  transition: all .3s ease-out;
}
.t-fly-in-center-enter,
.t-fly-in-center-leave-active {
  opacity: 0;
  padding-left: 70px;
}