@import "variables";
@import "./utils/utils";
@import "./mixins/index";

@include b(btn) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $--button-default-fill;
  border: $--border-base;
  border-color: $--button-default-border;
  color: $--button-default-color;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: $--button-font-weight;
  @include utils-user-select(none);
  & + .t-btn {
    margin-left: $--button-margin-horizontal;
  }

  & .t-icon {
    & + span {
      margin-left: 5px;
    }
  }

  @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, $--button-border-radius);

  &:hover,
  &:focus {
    color: $--color-primary;
    border-color: $--color-primary-light;
    background-color: $--color-primary-lighter;
  }

  &:active {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  @include m(primary) {
    @include button-variant($--button-primary-color, $--button-primary-fill, $--button-primary-border);
    @include when(outline){
      @include button-variant($--button-primary-fill, $--color-white, $--button-primary-border);
    }
  }
  @include m(success) {
    @include button-variant($--button-success-color, $--button-success-fill, $--button-success-border);
    @include when(outline){
      @include button-variant($--button-success-fill, $--color-white, $--button-success-border);
    }
  }
  @include m(warning) {
    @include button-variant($--button-warning-color, $--button-warning-fill, $--button-warning-border);
    @include when(outline){
      @include button-variant($--button-warning-fill, $--color-white, $--button-warning-border);
    }
  }
  @include m(danger) {
    @include button-variant($--button-danger-color, $--button-danger-fill, $--button-danger-border);
    @include when(outline){
      @include button-variant($--button-danger-fill, $--color-white, $--button-danger-border);
    }
  }
  @include m(cyan) {
    @include button-variant($--button-cyan-color, $--button-cyan-fill, $--button-cyan-border);
    @include when(outline){
      @include button-variant($--button-cyan-fill, $--color-white, $--button-cyan-border);
    }
  }
  @include m(inverse) {
    @include button-variant($--button-inverse-color, $--button-inverse-fill, $--button-inverse-border);
    @include when(outline){
      @include button-variant($--button-inverse-fill, $--color-white, $--button-inverse-border);
    }
  }
  @include m(info) {
    @include button-variant($--button-info-color, $--button-info-fill, $--button-info-border);
    @include when(outline){
      @include button-variant($--button-info-fill, $--color-white, $--button-info-border);
    }
  }

  @include m(lg) {
    @include button-size($--button-large-padding-vertical, $--button-large-padding-horizontal, $--button-large-font-size, $--button-large-border-radius);
  }
  @include m(sm) {
    @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-small-border-radius);
  }
  @include m(text) {
    border-color: transparent;
    color: $--color-primary;
    background: transparent;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      color: mix($--color-white, $--color-primary, $--button-hover-tint-percent);
      border-color: transparent;
      background-color: transparent;
    }
    &:active {
      color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      border-color: transparent;
      background-color: transparent;
    }
  }
}

