@import "variables";
@import "./utils/utils";
@import "./mixins/index";

@include b(btn) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $--button-default-fill;
  border: $--border-base;
  border-color: $--button-default-border;
  color: $--button-default-color;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: $--button-font-weight;
  @include utils-user-select(none);
  & + .t-btn {
    margin-left: $--button-margin-horizontal;
  }

  @include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, $--button-border-radius, $--button-round-border-radius);

  &:hover,
  &:focus {
    color: $--color-primary;
    border-color: $--color-primary-light;
    background-color: $--color-primary-lighter;
  }

  &:active {
    color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  @include when(round) {
    border-radius: 20px;
    padding: 12px 23px;
  }

  @include e(icon) {
    @include m(left) {
      margin-right: 5px;
    }
    @include m(right) {
      margin-left: 5px;
    }
  }

  @include when(circle) {
    border-radius: 50%;
    padding: 12px 12px;

    .t-btn__icon {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $--button-disabled-color;
      cursor: not-allowed;
      background-image: none;
      background-color: $--button-disabled-fill;
      border-color: $--button-disabled-border;
    }

    &.el-button--text {
      background-color: transparent;
    }
  }

  @include m(primary) {
    @include button-variant($--button-primary-color, $--button-primary-fill, $--button-primary-border);
  }
  @include m(success) {
    @include button-variant($--button-success-color, $--button-success-fill, $--button-success-border);
  }
  @include m(warning) {
    @include button-variant($--button-warning-color, $--button-warning-fill, $--button-warning-border);
  }
  @include m(danger) {
    @include button-variant($--button-danger-color, $--button-danger-fill, $--button-danger-border);
  }
  @include m(info) {
    @include button-variant($--button-info-color, $--button-info-fill, $--button-info-border);
  }

  @include m(lg) {
    @include button-size($--button-large-padding-vertical, $--button-large-padding-horizontal, $--button-large-font-size, $--button-large-border-radius, $--button-large-round-border-radius);
  }
  @include m(sm) {
    @include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-small-border-radius, $--button-small-round-border-radius);
  }
  @include m(mini) {
    @include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, $--button-mini-border-radius, $--button-mini-round-border-radius);
  }
  @include m(text) {
    border-color: transparent;
    color: $--color-primary;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    border: none;

    &:hover,
    &:focus {
      color: mix($--color-white, $--color-primary, $--button-hover-tint-percent);
      border-color: transparent;
      background-color: transparent;
    }
    &:active {
      color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
      border-color: transparent;
      background-color: transparent;
    }
  }
}

