@import "variables";
@import "mixins/mixins";
@import "mixins/drop";

@include b(cascader) {
  display: block;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  background-color: $--select-fill-color;
  border-radius: 4px;

  input {
    font-size: 12px;
    cursor: pointer;
  }

  @include e(icon) {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    color: $--color-text-placeholder;
    transition: all .2s;

    @include m(open) {
      transform: rotate(-180deg);
      color: $--color-primary;
    }
  }

  @include e(input) {
    min-width: 118px;
    position: relative;
    padding: 4px 11px;
    border-radius: $--border-radius-base;
    min-height: $--input-height-base - 10;
    overflow: hidden;
    border: $--border-base;
    transition: all .3s linear;

    &:hover {
      border-color: mix($--color-white, $--color-gray, 20%);
    }

    &:focus {
      border-color: $--color-primary;
    }
  }

  @include e(list) {
    @include drop-variant();
    & + .t-cascader__list {
      border-left: none;
    }
  }

  @include e(search-none) {
    @include drop-variant();
    width: 100%;
    height: 40px;
  }

  @include e(search-list) {
    @include drop-variant();
    position: absolute;
    left: 0;
    z-index: $--select-list-index - 1;
  }

  @include e(list-container) {
    position: absolute;
  }

  @include e(keyword) {
    font-weight: 500;
    color: $--color-primary;
  }

  @include e(search) {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    float: left;
    line-height: 1;
    outline: none;
    padding: 0;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 85%;
    text-overflow: ellipsis;
    &:focus {
      border-color: $--border-color-base;
    }
    &:hover {
      border-color: mix($--color-white, $--color-gray, 20%);
    }
  }

  @include when(focus) {
    input, .t-cascader__input {
      border-color: $--color-primary;
    }
  }

  @include when(disabled) {
    & * {
      user-select: none;
      cursor: not-allowed;
    }

    ::placeholder {
      color: #c0c4cc;
    }

    .t-cascader__icon {
      z-index: 0;
    }

    .t-cascader__input, input {
      background-color: #f5f7fa;
      color: #c0c4cc;
      &:hover {
        border-color: $--border-color-base;
      }
    }

    .t-cascader__tag {
      color: $--color-text-placeholder;
      i {
        &:hover {
          color: $--color-text-placeholder;
        }
      }
    }
  }

  @include when(clearable) {
    .t-cascader__input {
      .t-cascader__icon--clear {
        z-index: 1;
        display: none;
      }
      &:hover {
        .fa-chevron-down {
          display: none;
        }
        .t-cascader__icon--clear {
          display: block;
        }
      }
    }
  }
}
