@import "variables";
@import "mixins/mixins";
@import "mixins/select";
@import "mixins/drop";
@import "mixins/input";

@include b(cascader) {
  @include select-input-variant();
  height: $--select-input-min-height;

  @include e(input) {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
    outline: none;
  }

  @include m(lg) {
    @include input-size($--input-height-lg, $--input-font-size-lg)
  }

  @include m(sm) {
    @include input-size($--input-height-sm, $--input-font-size-base)
  }

  @include m(mini) {
    @include input-size($--input-height-mini, $--input-font-size-mini)
  }

  @include e(inner) {
    position: relative;
    border: none;
    box-sizing: border-box;
    height: 100%;
    padding: $--select-input-wrapper-padding;
    cursor: pointer;
    width: 100%;
    margin: 0;
    display: inline-block;
    float: left;
    -webkit-box-sizing: border-box;
  }

  @include e(input-icon) {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;
    margin: auto auto;
    width: 14px;
    height: 14px;
    color: $--color-text-placeholder;
    text-align: center;
    transition: .3s;
    &::before {
      vertical-align: middle;
    }

    @include m(open) {
      transform: rotate(180deg);
      color: $--color-primary;
    }
  }

  @include e(list) {
    position: fixed;
    display: inline-block;
    background-color: #fff;
    z-index: $--select-list-index;
    box-shadow: 1px 1px 10px 1px #eee;
    transition: transform .2s ease-out, opacity .2s ease-out;
    border: $--border-base;

    ::-webkit-scrollbar {
      display: none;
    }
  }

  @include e(list-sub-container) {
    display: inline-flex;
    max-height: 200px;
    border-radius: 4px;
  }

  @include e(editor) {
    width: auto;
    min-width: 100px;
    background-color: #fff;
    line-height: 30px;
    height: 36px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: none;
    padding: 6px 15px;
    position: relative;
    box-sizing: border-box;

    input {
      outline: none;
      text-align: center;
      position: relative;
      display: inline-block;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      border: none;
      background-color: #f4f5f6;
      border-radius: 10px;
      float: left;
    }

    & + .t-cascader__list-sub-container {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  @include e(list-sub) {
    @include drop-variant();
    &::-webkit-scrollbar {
      display: none;
    }

    & + .t-cascader__list-sub {
      border-left: 1px solid #f4f5f6;
    }

    @include m(search) {
      height: auto;
    }
  }

  @include e(keyword) {
    font-weight: 500;
    color: $--color-primary;
  }

  @include drop-arrow();

  @include when(disabled) {
    & * {
      user-select: none;
      cursor: not-allowed;
    }

    &:hover {
      border-color: $--border-color-base;
    }

    ::placeholder {
      color: #c0c4cc;
    }

    .t-cascader__icon {
      z-index: 0;
    }

    &, .t-cascader__input, input {
      background-color: #f5f7fa;
      color: #c0c4cc;
    }

  }

  .t-cascader__clear-icon {
    display: none;
  }
  @include when(clearable) {
    .t-cascader__input:hover {
      .t-cascader__clear-icon {
        display: block;
      }
      .t-cascader__drop-icon {
        display: none;
      }
    }
  }
}
