@import "variables";
@import "mixins/mixins";

@include b(cascader-option) {
  cursor: pointer;
  user-select: none;
  padding: 0 20px;

  @include e(check) {
    color: $--color-text-placeholder;
    float: right;
    line-height: 40px;
  }

  @include when(selected) {
    color: $--color-primary;
  }

  @include when(focus) {
    background-color: #f5f7fa;
    color: $--color-primary;
  }

  &:hover {
    background-color: #f5f7fa;
    color: $--color-primary;
  }

  @include when(disabled) {
    background-color: #fff;
    cursor: not-allowed;
    color: $--color-text-placeholder;
    user-select: none;
    &:hover {
      background-color: #fff;
      color: $--color-text-placeholder;
    }
  }
}
