@import "variables";
@import "mixins/mixins";

@include b(checkbox) {
  color: $--color-text-regular;
  font-weight: $--font-weight-primary;
  font-size: $--font-size-base;
  height: $--checkbox-height-base;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  vertical-align: middle;

  input[type=checkbox] {
    display: none;
  }

  @include e(inner) {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    margin: 3px 0 5px;
    border: 1px solid $--border-color-base;
    border-radius: 2px;
    box-sizing: border-box;
    transition: all .2s;

    &:hover {
      border-color: $--color-primary;
    }

    i {
      position: absolute;
      left: 0;
      top: 0;
      margin: auto;
      line-height: 16px;
      height: 12px;
      width: 14px;
      color: $--color-white;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0);
      transition: .2s .1s;
      transform: scale(0);
    }
  }

  @include e(label) {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    padding: $--checkbox-label-padding;
    position: relative;
    float: left;
    height: $--checkbox-height-base;
    line-height: $--checkbox-height-base;
    font-size: $--checkbox-label-font-size;
    box-sizing: border-box;
    transition: all .2s;
  }
  @include when(checked) {
    > .t-checkbox__inner {
      background: $--color-primary;
      border-color: $--color-white;

      i {
        opacity: 1;
        transform: scale(.6);
      }
    }

    > .t-checkbox__label {
      color: $--color-primary;
    }

    @include when(outbox) {
      .t-checkbox__inner {
        :hover {
          border-color: $--color-white;
        }
      }
    }
  }

  @include when(disabled) {
    cursor: not-allowed;

    .t-checkbox__inner {
      cursor: not-allowed;
      background-color: lighten($--color-text-placeholder, 17%);
      &:hover {
        border-color: $--border-color-base;
      }
    }

    @include when(checked) {
      .t-checkbox__inner {
        border-color: $--border-color-base;
        i {
          color: $--color-text-placeholder;
        }
      }
    }

    .t-checkbox__label {
      color: $--color-text-placeholder;
      cursor: not-allowed;
    }
  }

  @include when(outbox) {
    padding: $--checkbox-outbox-padding;
    border-radius: $--border-radius-base;
    background-color: $--color-primary;

    .t-checkbox__inner {
      background-color: $--color-primary;
      border-radius: 50%;

      &:hover {
        border-color: $--color-white;
      }
    }

    .t-checkbox__label {
      color: white;
    }
  }
}
