@import "variables";
@import "mixins/mixins";

@include b(checkbox) {
  color: #606266;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  line-height: 40px;
  vertical-align: middle;

  input[type=checkbox] {
    display: none;
  }

  @include e(inner) {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    border: 1px solid $--border-color-base;
    border-radius: 2px;
    box-sizing: border-box;
    transition: all .2s;

    &:hover {
      border-color: #409EFF;
    }

    i {
      position: absolute;
      left: 0;
      top: 0;
      line-height: 14px;
      width: 14px;
      color: #fff;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0);
    }
  }

  @include e(label) {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    float: left;
    line-height: 18px;
    font-size: 15px;
    box-sizing: border-box;
    transition: all .2s;
  }
  @include when(checked) {
    > .t-checkbox__inner {
      background: #409EFF;
      border-color: #409EFF;

      i {
        opacity: 1;
      }
    }

    > .t-checkbox__label {
      color: #409EFF;
    }

    @include when(outbox) {
      border-color: #409EFF;
    }
  }

  @include when(disabled) {
    cursor: not-allowed;

    .t-checkbox__inner {
      cursor: not-allowed;
      background-color: lighten($--color-text-placeholder, 17%);
      &:hover {
        border-color: $--border-color-base;
      }
    }

    @include when(checked) {
      .t-checkbox__inner {
        border-color: $--border-color-base;
        i {
          color: $--color-text-placeholder;
        }
      }
    }

    .t-checkbox__label {
      color: $--color-text-placeholder;
      cursor: not-allowed;
    }
  }

  @include when(outbox) {
    border: $--border-base;
    padding: 9px 20px 9px 10px;
    border-radius: 4px;
  }
}
