@import "variables";
@import "mixins/mixins";
@import "mixins/drop";

@include b(datepicker) {
  display: block;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  input {
    cursor: pointer;
  }

  @include e(icon) {
    z-index: $--background-level-index;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    color: $--color-text-placeholder;
    transition: all .2s;

    @include m(open) {
      transform: rotate(-180deg);
      color: $--color-primary;
    }
  }

  @include e(select-panel) {
    padding: 10px;
    z-index: $--select-list-index;
    width: 320px;
    border-radius: 4px;
    transition: all .2s;
    min-width: 150px;
    margin-top: 5px;
    position: absolute;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    line-height: 40px;
    list-style: none;
    overflow-y: scroll;
    border: $--border-base;
  }

  @include e(header) {
    font-size: 16px;
    user-select: none;
    font-weight: 500;
    text-align: center;
    span {
      cursor: pointer;
      font-size: 16px;
    }
    @include m(left) {
      float: left;
    }
    @include m(right) {
      float: right;
    }
  }

  @include e(title) {
    border-bottom: $--border-base;
  }
  @include e(month) {
    .t-datepicker__header {
      border-bottom: $--border-base;
    }
    .t-datepicker__table-list {
      td {
        height: 48px;
        span {
          color: $--color-text-regular;
          font-weight: 400;
          height: 36px;
          width: 48px;
          margin: 12px auto;
          display: block;
          line-height: 36px;
          border-radius: 10px;
        }
      }
      .is-select {
        span {
          background-color: $--color-primary;
          color: $--color-white;
          box-shadow: $--box-shadow-base;
        }
      }
      .is-current {
        color: $--color-primary;
      }
    }
  }

  @include e(year) {
    .t-datepicker__header {
      border-bottom: $--border-base;
    }
    .t-datepicker__year-list {
      div {
        text-align: center;
        cursor: pointer;
        float: left;
        width: 80px;
        height: 60px;
        &:hover {
          color: $--color-primary;
        }
        span {
          color: $--color-text-regular;
          font-weight: 400;
          height: 36px;
          width: 48px;
          margin: 12px auto;
          display: block;
          line-height: 36px;
          border-radius: 10px;
        }

        .is-current {
          color: $--color-primary;
        }

        .is-select {
          background-color: $--color-primary;
          color: $--color-white;
          box-shadow: $--box-shadow-base;
        }
      }
    }
  }

  @include e(date) {
    .t-datepicker__table-list {
      td {
        height: 34px;
        span {
          width: 24px;
          height: 24px;
          line-height: 24px;
          position: relative;
        }
      }
      .is-current {
        color: $--color-primary;
        span:after {
          display: block;
          content: '';
          width: 0;
          height: 0;
          border-top: 6px solid $--color-primary;
          border-left: 6px solid transparent;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .is-disabled {
        span:after {
          display: none;
        }
      }
    }
  }

  @include e(table-list) {
    width: 100%;
    text-align: center;
    th {
      font-weight: 400;
      color: $--color-text-regular;
    }
    td {
      text-align: center;
      cursor: pointer;

      &:hover {
        color: $--color-primary;
      }
      span {
        user-select: none;
        font-weight: 300;
        margin: 5px 11px;
        display: block;
        border-radius: 5px;
      }

      @include when(select) {
        span {
          background-color: $--color-primary;
          color: $--color-white;
        }
      }

      @include when(disabled) {
        &:hover {
          color: $--button-disabled-color;
        }
        span {
          background-color: $--color-white !important;
          color: $--button-disabled-color;
        }
      }
    }
  }

  @include e(date-switcher) {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    &:hover {
      color: $--color-primary;
    }
  }
  @include e(input) {
    position: relative;
    padding-right: 30px;
    border-radius: $--border-radius-base;
    min-height: $--input-height-base - 2;
    overflow: hidden;
    border: $--border-base;
    transition: all .3s linear;

    &:hover {
      border-color: mix($--color-white, $--color-gray, 20%);
    }

    &:focus {
      border-color: $--color-primary;
    }

    input {
      -webkit-appearance: none;
      background-color: #fff;
      border-radius: 4px;
      border: none;
      box-sizing: border-box;
      color: #606266;
      display: inline-block;
      font-size: inherit;
      height: 40px;
      line-height: 1;
      outline: none;
      padding: 0 0 0 15px;
      transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
      width: 100%;
      user-select: none;
      &:focus {
        border-color: $--border-color-base;
      }
      &:hover {
        border-color: mix($--color-white, $--color-gray, 20%);
      }
    }
  }

  @include when(focus) {
    input, .t-datepicker__input {
      border-color: $--color-primary;
    }
  }

  @include when(disabled) {
    & * {
      user-select: none;
      cursor: not-allowed;
    }

    ::placeholder {
      color: #c0c4cc;
    }

    .t-datepicker__icon {
      z-index: 0;
    }

    .t-datepicker__input, input {
      background-color: #f5f7fa;
      color: #c0c4cc;
      &:hover {
        border-color: $--border-color-base;
      }
    }

    .t-datepicker__tag {
      color: $--color-text-placeholder;
      i {
        &:hover {
          color: $--color-text-placeholder;
        }
      }
    }
  }

  @include when(clearable) {
    .t-datepicker__input {
      .t-datepicker__icon--clear {
        z-index: 1;
        display: none;
      }
      &:hover {
        .fa-chevron-down {
          display: none;
        }
        .t-datepicker__icon--clear {
          display: block;
        }
      }
    }
  }
}
