@import "variables";
@import "mixins/mixins";

@include b(dropdown-item) {
  cursor: pointer;
  display: block;
  padding: 0 10px;
  height: 30px;
  min-width: 100px;
  width: 100%;
  line-height: 40px;
  box-sizing: border-box;
  color: $--color-text-regular;
  user-select: none;
  position: relative;

  a {
    color: $--color-text-regular;
    &:hover {
      color: $--color-primary;
    }
  }

  &:hover {
    color: $--color-primary;
    background-color: $--color-primary-lighter;
  }

  @include e(icon) {
    width: 12px;
    height: 14px;
    display: inline-block;
    @include utils-position-center(a);
    right: 10px;
    left: auto;
  }

  @include when(disabled) {
    cursor: not-allowed;
    color: $--color-text-placeholder;

    &:hover {
      background-color: inherit;
    }
  }

  @include m(divided) {
    border-top: $--border-base;
  }

  .t-menu__link {
    display: block;
    width: 100%;
    height: 100%;
  }
}
