@import "variables";
@import "mixins/mixins";

@include b(dropdown) {
  display: inline-block;
  transition: all .3s;

  @include e(menu) {
    position: fixed;
    display: inline-block;
    background-color: #fff;
    z-index: $--select-list-index;
    border-radius: 1px;
    box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
    transition: transform .2s ease-in, opacity .2s ease-in;

    .t-dropdown {
      width: 100%;
      float: left;
      position: relative;
    }

    &::-webkit-scrollbar{
      display: none;
    }

    .t-dropdown-item {
      height: 40px;
    }
  }
}
