@import "variables";
@import "mixins/mixins";

@include b(dropdown) {
  display: inline-block;
  transition: all .3s;

  @include e(menu) {
    position: fixed;
    display: inline-block;
    background-color: #fff;
    z-index: $--select-list-index;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px #eee;
    max-height: 150px;
    overflow: scroll;
    transition: transform .2s ease-in, opacity .2s ease-in;

    &::-webkit-scrollbar{
      display: none;
    }
  }
}
