@import "variables";
@import "mixins/mixins";
@import "mixins/drop";

@include b(dropdown) {
  display: inline-block;
  transition: all .3s;

  @include e(menu) {
    position: fixed;
    display: inline-block;
    background-color: #fff;
    z-index: $--select-list-index;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px #eee;
    transition: transform .2s ease-in, opacity .2s ease-in;
  }

  @include drop-arrow()
}
