@import "variables";
@import "mixins/mixins";

@include b(menu) {
  display: block;
  height: 56px;
  box-sizing: border-box;
  padding-left: 60px;
  border-bottom: 1px solid #e4e7ed;

  @include e(item) {
    display: inline-block;
    height: 56px;
    box-sizing: border-box;
    line-height: 56px;
    padding: 0 20px;
    transition: all .2s;
    cursor: pointer;
    color: $--color-text-regular;

    @include e(icon) {
      margin-right: 6px;
    }

    &:hover {
      color: $--color-primary;
    }

    @include when(active) {
      color: $--color-primary;
      border-bottom: 2px solid $--color-primary;
    }
  }

  @include m(inverse) {
    border: none;
    background-color: rgb(84, 92, 100);

    .t-menu__item {
      color: white;

      &:hover {
        background-color: rgb(67, 74, 80);
        color: gold;
      }

      @include when(active) {
        color: gold;
        border-bottom: 2px solid gold;
      }
    }
  }

  @include when(vertical) {
    border-bottom: none;
    width: 240px;
    display: inline-block;
    padding-left: 0;
    height: auto;

    .t-menu__item {
      width: 100%;
      display: inline-block;
      float: left;
    }
  }
}
