@import "variables";
@import "mixins/mixins";

@include b(menu) {
  display: block;
  height: 56px;
  box-sizing: border-box;
  padding-left: 60px;
  border-bottom: 1px solid #e4e7ed;

  @include e(item-content) {
    font-size: 16px;
    padding: 0 20px;
  }
  @include e(item) {
    display: inline-block;
    height: 56px;
    box-sizing: border-box;
    line-height: 56px;
    transition: all .3s;
    cursor: pointer;
    color: $--color-text-regular;
    overflow: hidden;

    @include e(icon) {
      margin-right: 14px;
    }

    &:hover {
      color: $--color-primary;
    }

    @include when(active) {
      color: $--color-primary;
      border-bottom: 2px solid $--color-primary;
    }
    @include when(open) {
      > .t-menu__item-wrapper > .t-menu__item-content > .t-menu__drop-icon {
        transform: rotate(90deg);
      }
    }
  }

  @include m(inverse) {
    border: none;
    background-color: rgb(84, 92, 100);

    .t-menu__item {
      color: white;

      @include when(active) {
        color: gold;
        border-bottom: 2px solid gold;
      }
    }
  }

  @include e(item-wrapper) {
    overflow: hidden;
  }

  @include e(submenu) {
    overflow: hidden;
    padding: 0 10px;

    .t-menu__item-content {
      font-size: 14px;
    }
  }

  @include e(drop-icon) {
    float: right;
    line-height: 56px;
    transition: all .3s;
  }

  @include when(vertical) {
    border-bottom: none;
    width: 240px;
    display: inline-block;
    padding-left: 0;
    height: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    .t-menu__item, .t-menu__item-content {
      width: 100%;
      display: inline-block;
      float: left;
      position: relative;
      box-sizing: border-box;
      border-bottom: none;

      .t-dropdown {
        width: 100%;
      }
    }

    .t-menu__item.is-active > .t-menu__item-content{
      border-right: 3px solid #ffcc00;
    }
  }
}
