@import "variables";
@import "mixins/mixins";

@include b(message) {
  padding: 16px 22px;
  position: fixed;
  display: block;
  background-color: $--color-success-lighter;
  color: $--color-success;
  border-radius: 4px;
  font-weight: 400;
  transition: all .3s;
  min-width: 380px;
  opacity: 0;
  top: 30px;
  left: 50%;
  z-index: 2000;
  margin-left: -190px;
  margin-top: -50px;
  box-shadow: $--box-shadow-base;

  @include e(title) {
    font-size: 15px;
    height: 18px;
    line-height: 18px;

    @include m(center) {
      text-align: center;
    }
  }

  @include e(sub) {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 300;

    @include m(center) {
      text-align: center;
    }
  }

  @include e(title-icon) {
    display: inline-block;
    font-size: 18px;
    margin-right: 6px;
  }

  @include e(close) {
    position: absolute;
    display: block;
    height: 14px;
    top: 18px;
    right: 20px;
    cursor: pointer;

    @include m(icon) {
      width: 14px;
    }
  }

  @include m(info) {
    background-color: $--color-info-lighter;
    color: $--color-info;
  }

  @include m(warning) {
    background-color: $--color-warning-lighter;
    color: $--color-warning;
  }

  @include m(danger) {
    background-color: $--color-danger-lighter;
    color: $--color-danger;
  }
}
