@import "variables";
@import "mixins/mixins";

$--pagination-base-height: 28px;
$--pagination-base-padding: 0 2px;
$--pagination-item-base-width: 28px;
$--pagination-ellipsis-base-width: 16px;
$--pagination-item-base-font-size: 13px;
$--pagination-jumper-base-width: 120px;

@include b(pagination) {
  display: inline-block;
  position: relative;
  height: $--pagination-base-height;
  padding: $--pagination-base-padding;

  @include e(prev) {
    float: left;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 16px;
    cursor: pointer;
    color: $--color-text-regular;
    user-select: none;
    text-align: center;

    i {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      width: 7px;
      height: 14px;
    }

    &:hover {
      color: $--color-primary;
    }
  }

  @include e(next) {
    float: left;
    height: 100%;
    width: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: $--color-text-regular;
    user-select: none;
    text-align: center;

    i {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      width: 7px;
      height: 14px;
    }

    &:hover {
      color: $--color-primary;
    }
  }

  @include e(pager) {
    float: left;
    height: 100%;
    display: inline-block;
  }

  @include e(pager-item) {
    user-select: none;
    font-weight: 500;
    width: $--pagination-item-base-width;
    padding: $--pagination-base-padding;
    display: inline-block;
    height: 100%;
    line-height: $--pagination-base-height;
    text-align: center;
    cursor: pointer;
    font-size: $--pagination-item-base-font-size;

    &:hover {
      color: $--color-primary;
    }

    @include when(current) {
      color: $--color-primary;
    }

    span {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }

  @include e(pager-ellipsis) {
    width: $--pagination-ellipsis-base-width;
    i:last-child {
      display: none;
    }

    &:hover {
      i:first-child {
        display: none;
      }

      i:last-child {
        display: inline-block;
      }
    }
  }

  @include e(total) {
    display: inline-block;
    float: left;
    margin: 0 6px;
    height: $--pagination-base-height;
    line-height: $--pagination-base-height;
  }

  @include e(sizes) {
    margin: 0 6px;
    display: inline-block;
    float: left;
  }

  @include e(jump) {
    display: inline-block;
    height: $--pagination-base-height;
    line-height: $--pagination-base-height - 2;
    float: left;

    .t-input {
      height: $--pagination-base-height;
      width: $--pagination-jumper-base-width;

      .t-input__prefix, .t-input__suffix {
        background-color: inherit;
        color: $--color-text-regular;
      }

      input {
        font-size: $--pagination-item-base-font-size;
        border-radius: 4px !important;
        text-align: center;
      }
    }
  }
}
