@import "variables";
@import "mixins/mixins";
@import "utils/utils";

@include b(radio) {
  color: $--color-text-regular;
  font-weight: $--font-weight-primary;
  font-size: $--font-size-base;
  height: $--checkbox-height-base;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  line-height: $--checkbox-height-base;

  input[type=radio] {
    display: none;
  }

  @include e(inner) {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    position: relative;
    float: left;
    margin: 3px 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid $--border-color-base;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all .4s;

    &:hover {
      border-color: $--color-primary;
    }

    .t-radio__circle {
      transition: all .2s;
      transition-delay: .1s;
      transform: scale(0);
      box-sizing: border-box;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      display: inline-block;
      background-color: $--color-white;
      @include utils-position-center(a)
    }
  }

  @include e(label) {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    padding: $--checkbox-label-padding;
    position: relative;
    float: left;
    height: $--checkbox-height-base;
    line-height: $--checkbox-height-base;
    font-size: $--checkbox-label-font-size;
    box-sizing: border-box;
    transition: all .2s;
  }
  @include when(checked) {
    > .t-radio__inner {
      background: $--color-primary;
      border-color: $--color-primary;

      .t-radio__circle {
        transform: scale(1);
      }
    }

    > .t-radio__label {
      color: $--color-primary;
    }

    @include when(outbox) {
      > .t-radio__label {
        color: $--color-white;
      }

      > .t-radio__inner {
        :hover {
          border-color: $--color-white;
        }

        border-color: $--color-white;
      }
    }
  }

  @include when(disabled) {
    cursor: not-allowed;

    .t-radio__inner {
      cursor: not-allowed;
      background-color: lighten($--color-text-placeholder, 17%);
      &:hover {
        border-color: $--border-color-base;
      }
    }

    @include when(checked) {
      .t-radio__inner {
        border-color: $--border-color-base;
        i {
          color: $--color-text-placeholder;
        }
      }
    }

    .t-radio__label {
      color: $--color-text-placeholder;
      cursor: not-allowed;
    }
  }

  @include when(outbox) {
    padding: $--checkbox-outbox-padding;
    border-radius: $--border-radius-base;
    background-color: $--color-primary;

    .t-radio__label {
      color: $--color-white;
    }
  }
}
