@import "variables";
@import "mixins/mixins";

@include b(select) {
  display: block;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  @include e(wrapper) {
    input {
      cursor: pointer;
    }

    @include e(icon) {
      position: absolute;
      top: 13px;
      right: 10px;
      color: $--color-text-placeholder;
      transition: all .2s;

      @include m(open) {
        transform: rotate(-180deg);
      }
    }

    @include e(input) {
      position: relative;
      background-color: #fff;
      padding-right: 30px;
      border-radius: $--border-radius-base;
      min-height: $--input-height-base;
      overflow: hidden;
      border: $--border-base;
      transition: border .3s linear;

      &:hover {
        border-color: mix($--color-white, $--color-gray, 20%);
      }

      &:focus {
        border-color: $--color-primary;
      }
    }

    @include e(tag) {
      display: inline-block;
      box-sizing: border-box;
      margin-left: 4px;
      margin-top: 8px;
      margin-bottom: 8px;
      background-color: #f0f2f5;
      height: 24px;
      padding: 0 8px;
      line-height: 24px;
      font-size: 12px;
      color: $--color-text-regular;
      border-radius: 4px;
      border: $--color-primary-light;
      user-select: none;
      float: left;
    }
  }

  @include e(list) {
    transition: all .2s;
    width: 100%;
    min-width: 80px;
    margin-top: 5px;
    position: absolute;
    box-shadow: 1px 1px 1px 1px #eee;
    background-color: #fff;
    line-height: 40px;
    list-style: none;
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 4px;
    border: $--border-base
  }

  input {
    &:focus {
      border-color: $--border-color-base;
    }
    &:hover {
      border-color: mix($--color-white, $--color-gray, 20%);
    }
  }

  @include when(focus) {
    input, .t-select__input {
      border-color: $--color-primary;
    }
  }
}
