@import "variables";
@import "mixins/mixins";
@import "mixins/select";
@import "mixins/drop";

@include b(select) {
  @include select-input-variant();

  @include e(input) {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
  }

  @include e(placeholder) {
    color: #777777;
  }

  @include e(inner) {
    position: relative;
    border: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: $--select-input-line-height;
    padding: $--select-input-wrapper-padding;
    cursor: pointer;
    width: 100%;
    margin: 0;
    display: block;
    overflow: hidden;
    vertical-align: middle;
    font-size: 12px;

    @include m(placeholder) {
      color: #777777;
    }
  }

  @include e(list) {
    position: fixed;
    display: inline-block;
    background-color: #fff;
    z-index: $--select-list-index;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px #eee;
    transition: transform .2s ease-in, opacity .2s ease-in;
  }

  @include e(drop-menu) {
    z-index: $--select-list-index;
    transition: all .2s;
    width: auto;
    min-width: 150px;
    background-color: #fff;
    line-height: 40px;
    list-style: none;
    height: auto;
    overflow-y: scroll;
    max-height: 200px;
    border-radius: 4px;
    //border: $--border-base;

    @include m(none) {
      text-align: center;
      display: inline-block;
      height: 40px;
      color: $--color-text-placeholder;
      width: 100%;
    }
  }

  @include e(editor) {
    width: auto;
    min-width: 150px;
    background-color: #fff;
    line-height: 30px;
    height: 36px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: none;
    padding: 3px 40px;
    position: relative;
    box-sizing: border-box;

    input {
      outline: none;
      text-align: center;
      position: relative;
      display: inline-block;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      border: none;
      background-color: #f4f5f6;
      border-radius: 10px;
      float: left;
    }

    & + .t-select__drop-menu {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  @include drop-arrow();

  @include e(add-tag) {
    position: absolute;
    width: 14px;
    height: 14px;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto auto;
    color: $--color-text-placeholder;
    cursor: pointer;
  }

  @include e(input-icon) {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;
    margin: auto auto;
    width: 14px;
    height: 14px;
    color: $--color-text-placeholder;
    text-align: center;
    transition: .3s;
    &::before {
      vertical-align: middle;
    }

    @include m(open) {
      transform: rotate(180deg);
      color: $--color-primary;
    }
  }

  @include e(tag) {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 1px;
    margin-right: 4px;
    margin-bottom: 1px;
    background-color: #f0f1f2;
    height: 30px;
    padding: 0 8px;
    line-height: 30px;
    font-size: 14px;
    color: $--color-text-regular;
    border-radius: 4px;
    border: $--color-primary-light;
    user-select: none;
    float: left;

    i {
      margin-left: 5px;
      color: $--color-text-placeholder;
      &:hover {
        color: $--color-text-regular;
      }
    }
  }

  @include when(disabled) {
    & * {
      user-select: none;
      cursor: not-allowed;
    }

    &:hover {
      border-color: $--border-color-base;
    }

    ::placeholder {
      color: #c0c4cc;
    }

    .t-select__icon {
      z-index: 0;
    }

    &, .t-select__input, input {
      background-color: #f5f7fa;
      color: #c0c4cc;
    }

    .t-select__tag {
      color: $--color-text-placeholder;
      i {
        &:hover {
          color: $--color-text-placeholder;
        }
      }
    }
  }

  .t-select__clear-icon {
    display: none;
  }
  @include when(clearable) {
    .t-select__input:hover {
      .t-select__clear-icon {
        display: block;
      }
      .t-select__drop-icon {
        display: none;
      }
    }
  }
}
