@import "variables";
@import "mixins/mixins";

@include b(step-item) {
  position: relative;
  color: $--color-text-primary;

  @include e(progress) {
    position: relative;
    height: 24px;
  }

  @include e(logo) {
    height: 24px;
    width: 40px;
    text-align: center;
    background-color: inherit;
    padding-left: 8px;

    @include m(text) {
      span {
        width: 24px;
        height: 24px;
        line-height: 20px;
        border-radius: 50%;
        display: block;
        box-sizing: border-box;
        border: 2px solid $--color-text-primary;
      }
    }

    @include when(active) {
      color: $--color-primary;

      span {
        border-color: $--color-primary;
      }
    }
  }

  @include e(line) {
    position: absolute;
    height: 2px;
    background-color: $--color-text-placeholder;
    left: 40px;
    right: 0;
    top: 11px;

    @include when(active) {
      background-color: $--color-primary;
    }
  }

  @include e(content) {
    @include when(active) {
      .t-step-item__title,
      .t-step-item__desc {
        color: $--color-primary;
      }
    }
  }

  @include e(title) {
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    font-weight: 700;
  }

  @include e(desc) {
    padding-right: 20%;
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
  }

  @include m(center) {
    text-align: center;
    .t-step-item__line {
      left: 50%;
      right: -50%;
      margin-left: 20px;
      margin-right: 20px;
    }

    .t-step-item__desc {
      padding: 0 20%;
      white-space: normal;
      word-break: break-all;
    }
    .t-step-item__logo--text {
      padding-left: 0;
      justify-content: space-around;
      display: inline-flex;
    }
  }
}
