@import "variables";
@import "mixins/mixins";
@import "mixins/tabs";

@include b(tabs) {
  display: block;

  @include when(top) {
    @include header-horizon-variant();

    .t-tabs__header {
      margin: 0 0 15px;

      &:after {
        bottom: 0;
      }

      .t-tabs__active-line-horizon {
        bottom: 0;
      }
    }
  }

  @include when(bottom) {
    @include header-horizon-variant();

    .t-tabs__header {
      margin: 15px 0 0;

      &:after {
        top: 0;
      }

      .t-tabs__active-line-horizon {
        top: 0;
      }
    }
  }

  @include when(left) {
    @include header-vertical-variant();

    .t-tabs__header {
      float: left;
      margin: 0 15px 0 0;
      height: 100%;

      &:after {
        left: auto;
        right: 0;
      }

      .t-tabs__active-line-vertical {
        right: 0;
      }

      .t-tabs__header-item {
        display: block;
        padding: 0 20px;
      }
    }
  }

  @include when(right) {
    @include header-vertical-variant();

    .t-tabs__header {
      float: right;
      margin: 0 0 0 15px;
      height: 100%;

      .t-tabs__header-item {
        display: block;
        padding: 0 20px;
      }
    }
  }

  @include e(content) {
    position: relative;
    overflow: hidden;
  }

  /**
   * draggable styles
   */
  @include when(draggable) {
    .t-tabs__header {
      display: block;
      overflow: hidden;
      margin: 0 0 15px;
      position: relative;
    }
    .t-tabs__header-item {
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;
      float: left;
      cursor: pointer;
      color: $--color-text-placeholder;
      border-bottom: $--border-base;
      border-radius: 0;
      transition: color .2s;

      &:hover {
        color: $--color-text-regular;
      }

      @include when(active) {
        color: $--color-primary;
        border: $--border-base;
        line-height: 38px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom: none;
      }

      @include when(dragging) {
        color: $--color-white;
        border: none;
        border-radius: 0;
        background-color: #409EFF;
      }
    }
  }
}
