@import "variables";
@import "mixins/mixins";
@import "mixins/tabs";

@include b(tabs) {
  display: block;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  @include when(top) {
    @include header-horizon-variant();

    .t-tabs__header {
      margin: 0 0 15px;

      &:after {
        bottom: 0;
      }

      .t-tabs__active-line-horizon {
        bottom: 0;
      }

      :nth-child(2) {
        padding-left: 0;
      }
      :last-child {
        padding-right: 0;
      }
    }
  }

  @include when(bottom) {
    @include header-horizon-variant();

    .t-tabs__content {
      padding-bottom: 40px;
    }
    .t-tabs__header {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 15px 0 0;

      &:after {
        top: 0;
      }

      .t-tabs__active-line-horizon {
        top: 0;
      }

      :nth-child(2) {
        padding-left: 0;
      }
      :last-child {
        padding-right: 0;
      }
    }
  }

  @include when(left) {
    @include header-vertical-variant();

    .t-tabs__header {
      float: left;
      margin: 0 15px 0 0;
      height: 100%;

      &:after {
        left: auto;
        right: 0;
      }

      .t-tabs__active-line-vertical {
        right: 0;
      }

      .t-tabs__header-item {
        display: block;
        padding: 0 20px;
      }
    }
  }

  @include when(right) {
    @include header-vertical-variant();

    .t-tabs__header {
      float: right;
      margin: 0 0 0 15px;
      height: 100%;

      .t-tabs__header-item {
        display: block;
        padding: 0 20px;
      }
    }
  }

  @include m(card) {
    @include header-horizon-variant();

    .t-tabs__header {

      .t-tabs__header-item {
        padding: 0 20px !important;
        transition: all .2s;
      }

      .t-tabs__header-item.is-active {
        background-color: $--color-primary;
      }

      &:after {
        display: none;
      }
    }

    @include when(top) {
      .t-tabs__header {
        border-bottom: $--border-base;

        .t-tabs__header-item.is-active {
          color: $--color-white;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

        .t-tabs__active-line-horizon {
          display: none;
        }
      }
    }

    @include when(bottom) {
      .t-tabs__header {
        border-top: $--border-base;

        .t-tabs__header-item.is-active {
          color: $--color-white;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        .t-tabs__active-line-horizon {
          display: none;
        }
      }
    }

    @include when(left) {
      .t-tabs__header {
        border-right: $--border-base;

        .t-tabs__header-item.is-active {
          color: $--color-white;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        .t-tabs__active-line-vertical {
          display: none;
        }
      }
    }

    @include when(right) {
      .t-tabs__header {
        border-left: $--border-base;

        .t-tabs__header-item.is-active {
          color: $--color-white;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        .t-tabs__active-line-vertical {
          display: none;
        }
      }
    }
  }

  @include m(box) {
    box-shadow: 0 2px 8px 4px #f0f1f2;
    .t-tabs__content {
      padding: 20px;
    }
    @include header-horizon-variant();

    .t-tabs__header {
      background-color: $--color-primary-lighter;
      margin: 0 !important;

      .t-tabs__header-item.is-active {
        background-color: $--color-white;
      }

      .t-tabs__header-item {
        padding: 0 20px !important;
        transition: all .2s;
      }

      &:after {
        display: none;
      }
    }

    @include when(top) {
      .t-tabs__header {

        .t-tabs__header-item.is-active {
          color: $--color-primary;
        }

        .t-tabs__active-line-horizon {
          display: none;
        }
      }
    }

    @include when(bottom) {
      .t-tabs__content {
        padding-bottom: 55px;
      }

      .t-tabs__header {

        .t-tabs__header-item.is-active {
          color: $--color-primary;
        }

        .t-tabs__active-line-horizon {
          display: none;
        }
      }
    }

    @include when(left) {
      .t-tabs__header {

        .t-tabs__header-item.is-active {
          color: $--color-primary;
        }

        .t-tabs__active-line-vertical {
          display: none;
        }
      }
    }

    @include when(right) {
      .t-tabs__header {

        .t-tabs__header-item.is-active {
          color: $--color-primary;
        }

        .t-tabs__active-line-vertical {
          display: none;
        }
      }
    }
  }

  @include e(content) {
    position: relative;
    overflow: hidden;
  }
}
