@import "variables";
@import "mixins/mixins";
@import "mixins/drop";
@import "mixins/input";

@include b(timepicker) {
  display: block;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  height: $--input-height-base;

  input {
    cursor: pointer;
  }

  @include e(icon) {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    color: $--color-text-placeholder;
    transition: all .2s;

    @include m(calender) {
      right: 10px;
    }
    @include m(clear) {
      z-index: 10;
      right: 10px;
    }
  }

  @include e(bottom) {
    text-align: right;
    padding-right: 20px;
  }
  @include e(wrapper) {
    overflow: hidden;
    position: relative;
  }
  @include e(cover) {
    position: absolute;
    left: 0;
    height: 30px;
    background-color: $--color-primary;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    width: 100%;
    top: 60px;
    z-index: -1;
  }
  @include e(cover-top) {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    background-color: rgba(200, 200, 200, 0.1);
    width: 100%;
    z-index: -1;
  }
  @include e(cover-bottom) {
    position: absolute;
    left: 0;
    height: 60px;
    background-color: rgba(200, 200, 200, 0.1);
    width: 100%;
    top: 90px;
    z-index: -1;
  }
  @include e(select-column) {
    width: 60px;
    display: inline-block;
    float: left;
    text-align: center;
    ul {
      height: 150px;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        user-select: none;
        height: 30px;
        line-height: 30px;
        color: $--color-text-regular;
      }
      li.is-focus {
        color: $--color-white;
        font-weight: 500;
      }
      li.t-timepicker__list-item {
        cursor: pointer;
        &:hover {
          font-size: 1.2em;
        }
      }
    }
  }

  @include e(list-wrapper) {
    position: fixed;
    display: inline-block;
    transition: transform .2s ease-in, opacity .2s ease-in;
  }

  @include e(select-panel) {
    z-index: $--select-list-index;
    width: 182px;
    overflow: hidden;
    border-radius: 4px;
    transition: all .2s;
    min-width: 150px;
    position: relative;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    line-height: 40px;
    list-style: none;
    overflow-y: scroll;
    border: $--border-base;
    display: inline-block;

    @include when(range) {
      width: 585px;
      padding: 0;
      .t-timepicker__date:first-child {
        border-right: $--border-base;
      }
      .t-timepicker__date {
        width: auto;
        float: left;
        padding: 10px 20px;
      }
      .t-timepicker__table-list {
        td {
          span {
            margin: 5px 6px;
          }
        }
      }
      .is-range-start, .is-range-between, .is-range-end {
        background-color: #f2f6fc;
      }
      .is-range-start {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        .t-timepicker__item-inner {
          background-color: $--color-primary;
          color: $--color-white;
        }
      }
      .is-range-end {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        .t-timepicker__item-inner {
          background-color: $--color-primary;
          color: $--color-white;
        }
      }
      .is-disabled {
        background-color: inherit;
        .t-timepicker__item-inner {
          background-color: inherit;
          color: $--button-disabled-color;
        }
      }
    }
  }

  @include e(inner) {
    float: left;
  }

  @include e(input) {
    position: relative;
    padding: 0 11px;
    border-radius: $--border-radius-base;
    overflow: hidden;
    border: $--border-base;
    transition: all .3s linear;
    display: block;
    height: $--input-height-base - 2;

    &:hover {
      border-color: mix($--color-white, $--color-gray, 20%);
    }

    &:focus {
      border-color: $--color-primary;
    }

    input {
      height: 100%;
      -webkit-appearance: none;
      background-color: #fff;
      border-radius: 4px;
      border: none;
      box-sizing: border-box;
      color: #606266;
      display: inline-block;
      font-size: 12px;
      outline: none;
      padding: 0;
      transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
      width: 100%;
      user-select: none;
      &:focus {
        border-color: $--border-color-base;
      }
      &:hover {
        border-color: mix($--color-white, $--color-gray, 20%);
      }
    }
  }

  @include when(focus) {
    input, .t-timepicker__input {
      border-color: $--color-primary;
    }
  }

  @include when(disabled) {
    & * {
      user-select: none;
      cursor: not-allowed;
    }

    ::placeholder {
      color: #c0c4cc;
    }

    .t-timepicker__input, input {
      background-color: #f5f7fa;
      color: #c0c4cc;
      &:hover {
        border-color: $--border-color-base;
      }
    }
  }

  .t-timepicker__input {
    .t-timepicker__icon--clear {
      display: none;
    }
  }

  @include when(clearable) {
    .t-timepicker__input {
      &:hover {
        .t-timepicker__icon--calender {
          display: none;
        }
        .t-timepicker__icon--clear {
          display: block;
        }
      }
    }
  }

  @include m(lg) {
    @include input-size($--input-height-lg, $--input-font-size-lg)
  }

  @include m(sm) {
    @include input-size($--input-height-sm, $--input-font-size-base)
  }

  @include m(mini) {
    @include input-size($--input-height-mini, $--input-font-size-mini)
  }
}
