@import "variables";
@import "mixins/mixins";

@include b(upload) {
  @include e(file-list) {
    color: $--color-text-regular;
    margin-top: 10px;
  }

  @include e(tip) {
    height: 24px;
    line-height: 24px;
    color: $--color-text-regular;
    margin-top: 5px;
    font-size: 13px;
  }

  @include e(file-name) {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 4px;

    .t-upload__name {
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      width: 70%;
      height: 100%;
      text-overflow: ellipsis;

      i {
        margin-right: 5px;
      }
    }

    i.fa-times,
    i.fa-check-circle,
    i.fa-exclamation-circle,
    i.fa-arrow-alt-circle-up {
      height: 24px;
      width: 24px;
      line-height: 24px;
      text-align: center;
      color: $--color-text-placeholder;
      float: right;

      &:hover {
        color: $--color-text-regular;
      }
    }

    i.fa-times {
      display: none;
    }

    i.fa-check-circle,
    i.fa-arrow-alt-circle-up {
      color: $--color-success;

      &:hover {
        color: $--color-success;
      }
    }

    i.fa-exclamation-circle {
      color: $--color-danger;

      &:hover {
        color: $--color-danger;
      }
    }

    &:hover {
      background-color: #e4e7ed;

      i.fa-times {
        display: inline-block;
      }
    }
  }

  @include e(file-progress) {
    transition: all .3s;
  }
}
