.frame {
  .header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    padding: 10px 10px;
  }
  .container {
    margin-top: 80px;
  }
  .left-aside {
    position: fixed;
    padding-bottom: 100px;
    height: 100%;
    overflow: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  .main-content {
    margin-left: 250px;
    position: relative;
    height: 100%;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}

.guide {
  .title {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #69baff;
    text-shadow: 6px 6px 1px #eee;
  }
  .des {
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
    color: #666;
  }
}

.api-docs {
  float: left;
  width: 100%;
  display: inline-block;
  .title {
    text-align: center;
    margin: 50px 0 30px;
    font-size: 20px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    color: #333;

    &:before,
    &:after {
      content: '';
      display: inline-block;
      width: 300px;
      height: 1px;
      background-color: #e5e9f2;
      vertical-align: middle;
    }

    &:before {
      margin-right: 50px;
    }

    &:after {
      margin-left: 50px;
    }
  }
}

section {
  width: 100%;
  margin: auto;
}
.demo-block {
  margin-top: 50px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
  transition: .2s;
}

.demo-block .title {
  font-size: 20px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  color: #333;
}

.demo-block .sub-title {
  line-height: 45px;
  font-size: 14px;
  color: #666;
}

.demo-block .source {
  border: 1px solid #f0f1f2;
  border-bottom: none;
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
}

.demo-block.without-code .source {
  border: none;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
.demo-block.without-code .docs-demo-wrapper {
  display: none;
}

.demo-container {
  transition: all .3s ease;
  overflow: hidden;
}

.docs-demo {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-size: 13px;
  background-color: #f5f7fa;
  border-top: none;
}

.docs-demo pre {
  text-align: left;
}

.docs-demo pre code {
  font-family: Consolas, Menlo, Courier, monospace;
  line-height: 22px;
  border: none;
  color: #3c3c3c;
}

.docs-demo-wrapper {
  transition: all .3s;
  border: 1px solid #f0f1f2;
  border-top: none;
  float: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.docs-demo-wrapper blockquote{
  background-color: #70a1ff;
  padding: 10px;
  color: white;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.docs-demo-wrapper blockquote p{
  margin: 0;
}

.docs-demo-wrapper blockquote p code{
  background-color: #34495e;
  border-radius: 3px;
  padding: 4px 6px;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
}

.docs-trans {
  width: 100%;
  text-align: center;
  display: block;
  color: #C5D9E8;
  font-size: 12px;
  padding: 10px 0;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  transition:all .3s;
  border-top: 1px solid #eee;
  position: relative;
}

.docs-trans span {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  margin: auto;
  margin-left: 70px;
  opacity: 0;
  transition:all .3s;
}

.docs-trans i.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.docs-trans i {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  margin-left: 0;
  transition: all .3s;
}

.demo-block:hover .docs-trans {
  background-color: #FAFBFC;
  color: #409EFF;
}

.demo-block:hover .docs-trans span {
  opacity: 1;
  margin-left: 0;
}
.demo-block:hover .docs-trans i {
  margin-left: -70px;
}

.docs-demo__code,
.highlight-wrapper,
.docs-demo__meta {
  padding: 0 20px;
  overflow-y: auto;
}

.docs-demo__code {
  border-bottom: 1px solid #eee;
}

.docs-demo.docs-demo--expand .docs-demo__meta {
  border-bottom: 1px dashed #e9e9e9;
}

.docs-demo.docs-demo--expand .docs-demo__triangle {
  transform: rotate(180deg);
}

.highlight-wrapper {
  display: block;
  height: 0;
  transition: all .3s;
}

.highlight-wrapper p,
pre {
  margin: 20px 0;
}

.highlight-wrapper .hljs {
  padding: 0;
}

.docs-demo.docs-demo--expand .highlight-wrapper {
  height: 200px;
}

.docs-demo__code__mobi {
  height: 620px;
  margin: 20px 0;
}

.docs-demo__code__mobi__header {
  border-radius: 4px 4px 0 0;
  background: -webkit-linear-gradient(rgba(55, 55, 55, .98), #545456);
  background: linear-gradient(rgba(55, 55, 55, .98), #545456);
  text-align: center;
  padding: 8px;
}

.docs-demo__code__mobi__header img {
  width: 100%;
}

#font-docs pre {
  margin: 0;
  overflow: scroll;
  background-color: #f5f6f6;
  padding: 15px;
  border-radius: 4px;
}
#font-docs .language-css {

}

.docs-demo__code__mobi__header .url-box {
  height: 28px;
  line-height: 28px;
  color: #fff;
  padding: 0 3px;
  background-color: #a2a2a2;
  margin: 10px auto 0;
  border-radius: 4px;
  white-space: nowrap;
  overflow-x: auto;
}

.docs-demo__code__mobi__content iframe {
  width: 100%;
  border: 0;
  height: 548px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

.el-row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
}
.bg-black {
  background: #99a9bf;
}
.bg-gray {
  background: #d3dce6;
}
.bg-gray-light {
  background: #e5e9f2;
}

/*

Colorbrewer theme
Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
Ported by Fabrício Tavares de Oliveira

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
}

.hljs,
.hljs-subst {
  color: #000;
}

.hljs-string,
.hljs-meta,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #756bb1;
}

.hljs-comment,
.hljs-quote {
  color: #636363;
}

.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-bullet,
.hljs-link {
  color: #31a354;
}

.hljs-deletion,
.hljs-variable {
  color: #88f;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-doctag,
.hljs-type,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-strong {
  color: #3182bd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-attribute {
  color: #e6550d;
}
