.aside-item{
  .t-menu-item{
    height: 45px;
    line-height: 45px;
    a{
      width: 100%;
      height: 100%;
      display: block;
      color: #555;
      &:hover{
        span{
          color: #4285f4;
        }
      }
    }
  }
  .navigate-group{
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #333;
    font-weight: 700;
  }
  .t-menu-item-group{
    line-height: 45px;
    .t-menu-item-title{
      color: #999;
      font-size: 12px;
    }
    .t-menu-item-list{
      a{
        display: block;
        width: 100%;
        height: 100%;
        color: #333 !important;
        font-size: 15px;
        font-weight: 500;
        .chinese{
          font-weight: 400;
          font-size: 13px;
          color: #999;
        }
        &:hover{
          span{
            color: #4285f4;
          }
        }
      }
    }
  }
}
