.right-aside{
  ul{
    border-left: 1px solid #eeeeee;
    li{
      height: 25px;
      line-height: 25px;
      padding-left: 18px;
      a{
        color: #333 !important;
        font-size: 13px;
      }
      &:hover{
        a{
          color: red;
        }
      }
    };
  }
}