@mixin drop-variant() {
  z-index: $--select-list-index;
  transition: all .2s;
  width: auto;
  min-width: 120px;
  margin-top: 5px;
  position: relative;
  box-shadow: 1px 1px 1px 1px #eee;
  background-color: #fff;
  line-height: 40px;
  list-style: none;
  height: 200px;
  max-height: 200px;
  overflow: scroll;
  //border-radius: 4px;
  border: $--border-base;
  float: left;
  display: inline-block;
}
