@import "../variables";

@mixin addon() {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-color: $--border-color-base;
  color: $--input-addon-color;
  font-size: 14px;
  width: 1px;
  white-space: nowrap;

  .t-btn--default {
    background-color: $--border-color-base;
    color: $--input-addon-color;
    border: none;

    &:hover {
      background-color: lighten($--border-color-base, 2%);
    }

    &:active {
      background-color: darken($--border-color-base, 5%);
    }
  }

  .t-btn--default.is-disabled {
    background-color: lighten($--border-color-base, 2%);
    color: lighten($--button-disabled-color, 5%);

    &:hover {
      background-color: lighten($--border-color-base, 2%);
    }

    &:active {
      background-color: lighten($--border-color-base, 2%);
    }
  }

  .t-btn {
    border: none;
    margin: 0;
    height: 100%;
    border-radius: 0;
    padding: $--input-addon-padding;

    + .t-btn {
      margin: 0;
    }

    i {
      padding: 0;
    }
  }

  i {
    padding: $--input-addon-padding;
  }

  p {
    margin: 0;
    padding: $--input-addon-padding;
    display: inline;
    user-select: none;
  }
}

@mixin fixInputBorder($var) {
  @if ($var == 'prefix') {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  } @else {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@mixin inputIcon() {
  height: $--input-height-base;
  position: absolute;
  width: $--input-icon-width;
  top: 0;
  text-align: center;
  i {
    color: #c0c4cc;
    height: $--input-height-base;
    line-height: $--input-height-base;
  }
}
