@mixin select-input-variant{
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  background-color: $--select-fill-color;
  border-radius: $--select-input-radius;
  border: $--border-base;
  transition: .1s;

  &:hover {
    border-color: $--select-input-hover-border-color;
  }

  @include when(focus) {
    border-color: $--color-primary;
  }
}
