@mixin select-input-variant{
  display: table;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  background-color: $--select-fill-color;
  border-radius: $--select-input-radius;
  border: $--border-base;
  transition: border-color .2s, box-shadow .2s, transform .2s;

  &:hover {
    border-color: $--select-input-hover-border-color;
    //box-shadow: $--box-shadow-base;
    //transform: translateY(-2px);
  }

  @include when(focus) {
    border-color: $--color-primary;
  }
}
